@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to The Shop Finder!</h1>
    <p>Please select the "Shops" menu option, or simply click <a asp-action="Shops">here</a>.</p>
</div>
